
#upblock{
 border: 3px solid white;
 position: absolute;
 width: 1210px;
 height: 200px;
 top: 20px;
 left: 30px;
}

#downblock{

}

#background{
	position: absolute;
	z-index: -3;
}